<div class="layui-form" lay-filter="userLend-form" id="userLend-form" style="padding: 20px 30px 0 0;">
    <div class="layui-form-item">
        <label class="layui-form-label">状态</label>
        <div class="layui-input-inline">
            <script type="text/html" template>
            <select name="lendRepayStatus">
                <option value="1" {{ d.params.lendRepayStatus=='1' ? 'selected' : '' }}>通过</option>
                <option value="2" {{ d.params.lendRepayStatus=='2' ? 'selected' : '' }}>驳回</option>
            </select>
            </script>
        </div>
    </div>
    <script type="text/html" template>
        <input type="hidden" name="lendId" value="{{ d.params.lendId || '' }}">
    </script>
    <div class="layui-form-item">
        <label class="layui-form-label"></label>
        <div class="layui-input-inline">
            <input type="button" lay-submit lay-filter="userLend-form-submit" value="确认" class="layui-btn">
        </div>
    </div>
</div>
<script>
    layui.use([ 'admin', 'form', 'upload' ], function() {
        var $ = layui.$, form = layui.form, upload = layui.upload;
        form.render();//使select可以显示option
        //-------------文件上传开始----------
        upload.render({
            elem : '#userLend-upload-userLend',
            url : '/user/lend/upload',
            done : function(res) {
                //如果上传失败
                if (res.code > 0) {
                    return layer.msg('上传失败');
                }
                //上传成功
                console.log(res.data.src);
                document.getElementById("img_url").value = res.data.src;//
            }
        });
        //-------------文件上传结束----------
    })
</script>
