<div class="layui-form" lay-filter="ownerCase-form" id="ownerCase-form" style="padding: 20px 30px 0 0;">
    <div class="layui-form-item">
        <label class="layui-form-label">标题</label>
        <div class="layui-input-inline">
            <script type="text/html" template>
                <input type="text" name="caseTitle" value="{{ d.params.caseTitle || '' }}" lay-verify="required" placeholder="请输入标题" autocomplete="off" class="layui-input">
            </script>
        </div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label">副标题</label>
        <div class="layui-input-inline">
            <script type="text/html" template>
                <input type="text" name="caseSubTitle" value="{{ d.params.caseSubTitle || '' }}" lay-verify="required" placeholder="请输入副标题" autocomplete="off" class="layui-input">
            </script>
        </div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label">图片</label>
        <div class="layui-input-inline">
            <script type="text/html" template>
                <input type="text" name="caseImage" value="{{ d.params.caseImage || '' }}" lay-verify="required"
                       placeholder="请上传图片" autocomplete="off" class="layui-input" id="img_url" disabled="true ">
            </script>
        </div>
        <button style="float: left;" type="button" class="layui-btn" id="ownerCase-upload-ownerCase">上传图片</button>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label">内容</label>
        <div class="layui-input-inline">
            <script type="text/html" template>
                <textarea placeholder="请输入内容" class="layui-textarea" name="caseContent">{{ d.params.caseContent || '' }}</textarea>
            </script>
        </div>
    </div>
    <script type="text/html" template>
        <input type="hidden" name="caseId" value="{{ d.params.caseId|| '' }}">
    </script>
    <div class="layui-form-item">
        <label class="layui-form-label"></label>
        <div class="layui-input-inline">
            <input type="button" lay-submit lay-filter="ownerCase-form-submit" value="确认" class="layui-btn">
        </div>
    </div>
</div>
<script>

    layui.use([ 'admin', 'form', 'upload' ], function() {
        var $ = layui.$, form = layui.form, upload = layui.upload;

        form.render();//使select可以显示option
        //-------------文件上传开始----------
        upload.render({
            elem : '#ownerCase-upload-ownerCase',
            url : '/owner/case/upload',
            done : function(res) {
                //如果上传失败
                if (res.code > 0) {
                    return layer.msg('上传失败');
                }
                //上传成功
                console.log(res.data.src);
                document.getElementById("img_url").value = res.data.src;//
            }
        });
        //-------------文件上传结束----------
    })
</script>
