*{
    margin: 0;
    padding: 0;
}
.m1{
    margin-left: 5%;
    width: 5%;
    position: absolute;
    left: 0;
}
#title{
    font-size: 18px;
    text-align: center;
    margin: 14px auto;
}
.p1{
    border-bottom: solid 2px gainsboro;
}
ul{
    margin: 0px 31px 13px 22px;
}
li{
    list-style: none;
    border-bottom: 1px solid gainsboro;
    padding: 13px 13px;
    position: relative;
}
.s2{
    position: absolute;
    right: 0;
}