<div class="layui-form" lay-filter="homeStory-form" id="homeStory-form" style="padding: 20px 30px 0 0;">
    <div class="layui-form-item">
        <label class="layui-form-label">品牌名称</label>
        <div class="layui-input-inline">
            <script type="text/html" template>
                <input type="text" name="storyTitle" value="{{ d.params.storyTitle || '' }}" lay-verify="required"
                       placeholder="请输入地址" autocomplete="off" class="layui-input">
            </script>
        </div>
    </div>
    <div class="layui-form-item layui-form-text" id="div1">
        <script type="text/html" template>
            <div >
                {{d.params.storyContent || ''}}
            </div>
        </script>
    </div>

    <script type="text/html" template>
        <input type="hidden" name="storyId" value="{{ d.params.storyId || '' }}">
    </script>
    <div class="layui-form-item">
        <label class="layui-form-label"></label>
        <div class="layui-input-inline">
            <input type="button" lay-submit lay-filter="homeStory-form-submit" value="确认" class="layui-btn">
        </div>
    </div>
</div>
<script>
    layui.use(['admin', 'form', 'upload', 'layedit'], function () {
        var $ = layui.$, form = layui.form, upload = layui.upload, layedit = layui.layedit;
        form.render();//使select可以显示option
        //-------------文件上传开始----------
        upload.render({
            elem: '#homeStory-upload-homeStory',
            url: '/home/story/upload',
            done: function (res) {
                //如果上传失败
                if (res.code > 0) {
                    return layer.msg('上传失败');
                }
                //上传成功
                console.log(res.data.src);
                document.getElementById("img_url").value = res.data.src;//
            }
        });
        //-------------文件上传结束----------

    });
    var c = document.getElementById('div1');
    var E = window.wangEditor
    var editor = new E(c)
    editor.customConfig.uploadImgServer = '/upload'
    editor.customConfig.uploadFileName = 'file'
    editor.customConfig.menus = [
        'head',  // 标题
        'bold',  // 粗体
        'fontSize',  // 字号
        'fontName',  // 字体
        'italic',  // 斜体
        'underline',  // 下划线
        'strikeThrough',  // 删除线
        'foreColor',  // 文字颜色
        'backColor',  // 背景颜色
        'list',  // 列表
        'justify',  // 对齐方式
        'image',  // 插入图片
        'undo',  // 撤销
    ];
    editor.create()
</script>
