<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.zcf.universe.mapper.UserMapper">
    <sql id="user">
       id,
        nick_name,
        password,
        user_name
    </sql>
    <select id="selectOneUser" resultType="com.zcf.universe.pojo.User">
        SELECT
        <include refid="user"/>
        FROM user WHERE id =6
    </select>

</mapper>