<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title></title>
    <link rel="stylesheet" type="text/css" href="layui-v1.0.4/layui/css/layui.css"/>
</head>
<body>
<fieldset class="layui-elem-field" style="margin: 20px;">
    <legend>省市联动</legend>
    <div class="layui-field-box">
        <form class="layui-form layui-form-pane" action="javascript:;">
            <div class="layui-form-item">
                <label class="layui-form-label">选择地区</label>
                <div class="layui-input-inline">
                    <select name="P1" lay-filter="province">
                        <option></option>
                    </select>
                </div>
                <div class="layui-input-inline">
                    <select name="C1" lay-filter="city">
                        <option></option>
                    </select>
                </div>
                <div class="layui-input-inline">
                    <select name="A1" lay-filter="area">
                        <option></option>
                    </select>
                </div>
            </div>
        </form>
    </div>
</fieldset>

<fieldset class="layui-elem-field" style="margin: 20px;">
    <legend>选择结果</legend>
    <div class="layui-field-box">
        <form class="layui-form" action="javascript:;">
            <div class="layui-form-item">
                <label class="layui-form-label">您选择了：</label>
                <label class="layui-form-label pca-label-province"></label>
                <label class="layui-form-label pca-label-city"></label>
                <label class="layui-form-label pca-label-area"></label>
            </div>
        </form>
    </div>
</fieldset>

<div style="margin: 20px;">
    <table class="layui-table">
        <tr>
            <th colspan="3">补充说明</th>
        </tr>
        <tr>
            <td>1</td>
            <td>初始化方法</td>
            <td>pca.init('select[name=P1]', 'select[name=C1]', 'select[name=A1]');</td>
        </tr>
        <tr>
            <td>2</td>
            <td>其中三个选择器分别为, 省 市 区, 选择的值会放入隐藏域中</td>
            <td>
                <table class="layui-table">
                    <tr>
                        <td>省</td>
                        <td>id="pca-hide-province"</td>
                    </tr>
                    <tr>
                        <td>市</td>
                        <td>id="pca-hide-city"</td>
                    </tr>
                    <tr>
                        <td>区</td>
                        <td>id="pca-hide-area"</td>
                    </tr>
                </table>
            </td>
        </tr>
        <tr>
            <td>2</td>
            <td>因为涉及到了layui中的表单渲染, 所以用到了lay-filter</td>
            <td>
                <table class="layui-table">
                    <tr>
                        <td>省</td>
                        <td>lay-filter="province"</td>
                    </tr>
                    <tr>
                        <td>市</td>
                        <td>lay-filter="city"</td>
                    </tr>
                    <tr>
                        <td>区</td>
                        <td>lay-filter="area"</td>
                    </tr>
                </table>
            </td>
        </tr>
        <tr>
            <td>4</td>
            <td>可以自由选择省市联动或者省市区联动, 相应的选择器选择传值与否就可以控制</td>
            <td>pca.init('select[name=P1]', 'select[name=C1]', 'select[name=A1]');或者 pca.init('select[name=P1]', 'select[name=C1]', '');</td>
        </tr>
    </table>
</div>

<script src="js/jquery-1.11.0.js" type="text/javascript" charset="utf-8"></script>
<script src="layui-v1.0.4/layui/lay/dest/layui.all.js" type="text/javascript" charset="utf-8"></script>
<script src="js/citys.js" type="text/javascript" charset="utf-8"></script>
<script type="text/javascript">
    pca.init('select[name=P1]', 'select[name=C1]', 'select[name=A1]');
</script>
</body>
</html>
